<footer class="flex flex-col mb-3">
    <div class="flex justify-center gap-4">
        <a href="https://telegram.me/RobSaman">
            <i class="fa fab fa-telegram text-4xl text-blue-500"></i>
        </a>
        <a href="https://linkedin.com/in/saman-zand-h">
            <i class="fa fab fa-linkedin text-4xl text-blue-700" style="opacity: 80%"></i>
        </a>
        <a href="https://github.com/saman-zand-h">
            <i class="fa fab fa-github text-4xl gray-900"></i>
        </a>
    </div>
    <div class="flex justify-center font-semibold text-xs">
        Copyright &copy; 2023
    </div>
</footer>